*{margin:0px;padding:0px;font-family:verdana;}

h2{font-size:20px;margin:0px;padding:0px 20px 20px;text-align:center;color:#0398de;}

header, section, footer, aside, nav, article, hgroup,div,span {display:block;}

header{color:#595959;margin:0px;background-image: url(download.jpg);background-repeat:no repeat;width:100%;height:150px;}

body{min-width:100%;background-color:#F5F5F5;}

h1{font: bold 0.8em Verdana,sans-serif;margin-left:60%;opacity:0.8;padding:5px;}

h1>a{color:#595959;text-decoration:none;}

h1>a:hover{color:#0398de;text-decoration:underline;opacity:1;}

#big_wrapper{max-width:100%;margin:0px 0px;display:-webkit-box;display:box;-webkit-box-orient: vertical;box-orient: vertical;
-webkit-box-flex: 1;box-flex: 1;}

ul.menu {list-style:none;font-family:"Verdana",sans-serif;border-top:1px solid #bebebe;float:left;margin-top:0px;margin-left:10px;}

ul.menu li{float:left;}

ul.menu li a{text-decoration:none;background:#7E7E7E url(bgMenu.png) repeat-x top left;padding:15px 0px;width:220px;color:#006699;float:left;text-align:center;
border-right:1px solid #a1a1a1;border-left:1px solid #e8e8e8;font-weight:bold;font-size:1em;-moz-box-shadow: 0 1px 3px #555;-webkit-box-shadow: 0 1px 3px #555;
box-shadow:0 1px 3px #555;}

ul.menu li a:hover{background-image:none;color:#fff;text-shadow: 0 -1px 1px #000;}

ul.menu li a.first{-moz-border-radius:0px 0px 0px 5px;-webkit-border-bottom-left-radius: 10px; -webkit-border-top-left-radius: 5px; border-bottom-left-radius:5px;border-top-left-radius:5px;border-left:none;border-top:none;}

ul.menu li a.last{-moz-border-radius:0px 0px 0px 10px;-webkit-border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 5px;border-right:none;}

input,textarea{font-size:14px !important;padding:7px;width:250px;margin:10px;color:#0398de;}

p>label:first-child{display:inline-block;font-weight:700;margin-bottom:7px;padding-right:35px;text-align:right;width:135px;color:#0398de;}

/*ul li{padding:5px;}

span#labeltext{margin:3px 0px 0px 3px;}

/*.ui-icon-triangle-l-s{background:-64px -13px;}*/

#submitbutton{width:auto;}

/*label.ui-state-default{display:inline-block !important;}*/

/*ul{left:44.5%;top:49.5%;}*/

#container{margin:0px auto;width:500px;background-color:#eee;padding:20px;border-radius:5px;clear:both;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 4px rgba(0 0 0 0.3),0 0 40px rgba(0 0 0 0.1)inset;-moz-box-shadow:0 1px 4px rgba(0 0 0 0.3),0 0 40px rgba(0 0 0 0.1)inset;box-shadow:0 1px 4px rgba(0 0 0 0.3),0 0 40px rgba(0 0 0 0.1)inset;}